html, body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow-x: hidden;
  font-family: sans-serif;
  scroll-behavior: smooth;
  color: white;
}

main {
  padding-top: 60px;
  scroll-behavior: smooth;
}

/* Scroll snapping only on desktop */
@media (min-width: 768px) {
  main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  section {
    scroll-snap-align: start;
  }
}