* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: hsl(271, 100%, 14%);
  color: #222;
  padding-top: env(safe-area-inset-top);
}

main {
  overscroll-behavior: none;
  position: relative;
}